@import '../../../scss/abstracts/mixins.scss';
@import '../../../scss/abstracts/variables.scss';

.container {
  width: calc($w-full - 40px);
  @include flex(row, space-between, center);
  border-radius: .5rem;
  padding: .625rem 1.25rem;
  margin: $space 0;
  background-color: color(secondary);

  &__input {
    background-color: transparent;
    border: none;
    width: $w-full;
    outline: none;
    font-size: .875rem;
  }
}
