@import '../../../scss/abstracts/mixins.scss';
@import '../../../scss/abstracts/variables.scss';

.header {
  width: $w-full;
  height: 10vh;
  @include flex(row, space-between, center);

  .header__content {
    @include flex(row, center, center);
    gap: 2.8125rem;
  }
  .header__char {
    color: #f0f0f0;
  }
}
