@import "./variables";

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
@mixin size($width, $height) {
  width: $width;
  height: $height;
}
@mixin resetInput {
  border: none;
  outline: none;
  background: none;
}
@mixin tablet {
  @media (max-width: $tablet) {
    @content;
  }
}
@mixin small-tablet {
  @media (max-width: $small-tablet) {
    @content;
  }
}
@mixin large-mobile {
  @media (max-width: $large-mobile) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}