$colors: (
  
  // lightTheme
  text-lt: #3f3f3f,
  bg-lt: #ffffff,
  skeleton-lt:#f6f7f8,
  gradient-lt: linear-gradient(
    to right,
    #f6f7f8 0%,
    #edeef1 20%,
    #f6f7f8 40%,
    #f6f7f8 100%
  ),

  // darkTheme
  text-dt: #e2e2e2,
  bg-dt: #000000,
  skeleton-dt: #242424,
  gradient-dt: linear-gradient(
    to right,
    #242424 0%,
    #222121 20%,
    #242424 40%,
    #242424 100%
  ),

  //generals
  primary: blueviolet,
  secondary: #f4f4f4,
  tertiary: #797979,
  error: #c9201d,
  accent: #e9d0fa,
);
$space: .9375rem;
$w-full: 100%;
$lighter: 260;

@function color($color-name) {
  @return map-get($colors, $color-name);
}

// $tablet: 768px;
// $mobileL: 425px;
// $mobile: 375px;
// $mobileS: 320px;
