@import '../../../scss/abstracts/mixins.scss';
@import '../../../scss/abstracts/variables.scss';

.section {
  margin: 1.25rem 0 3.125rem 0;

  &__title {
    font-weight: $lighter;
    margin: 0;
  }

  &__synonims {
    @include flex(row, flex-start, center);
    margin: 0;
    gap: $space;
    p {
      font-weight: $lighter;
    }
    &--terms {
      cursor: pointer;
      @include flex(row, flex-start, center);
      flex-wrap: wrap;
      gap: $space;
    }
  }
  
  &__list {
    list-style: none;
  }
}
