<div *ngFor="let meaning of meanings">
  <app-separator orientation="horizontal" [withText]="true">{{
    meaning.partOfSpeech
  }}</app-separator>
  <section class="section">
    <h4 class="section__title">Meaning</h4>
    <ul class="section__list">
      <app-definition
        *ngFor="let definition of meaning.definitions"
        [definition]="definition.definition"
        [example]="definition.example || ''" />
    </ul>
    <span class="section__synonims" *ngIf="meaning.synonyms.length">
      <p>Synonims</p>
      <div class="section__synonims--terms">
        <app-purple-text
          [isBold]="true"
          *ngFor="let synonim of meaning.synonyms"
          [routerLink]="['/search/', synonim]"
          >{{ synonim }}</app-purple-text
        >
      </div>
    </span>
  </section>
</div>
