<app-separator orientation="horizontal" [withText]="true">noun</app-separator>
<section class="section">
  <h4 class="section__title">Meaning</h4>
  <ul class="section__list">
    <app-definition />
    <app-definition />
    <app-definition />
  </ul>
  <span class="section__synonims">
    <p>Synonims</p>
    <app-purple-text [isBold]="true">pedro, agames</app-purple-text>
  </span>
</section>
<!-- <app-separator orientation="horizontal" [withText]="true">verb</app-separator>
<section class="section">
  <h4 class="section__title">Meaning</h4>
  <ul>
    <li class="li">
      Lorem ipsum dolor, sit amet cocommodi, repudiandae cum recusandae id
      nesciunt quibusdam nemo veniam?
    </li>
    <li class="li">Lorem ipsum dolor, sit amet</li>
    <li class="li">
      Lorem ipsum dolor, sitcommodi, repudiandae cum recusandae id nesciunt
      quibusdam nemo veniam?
    </li>
    <li class="li">Lorem ipsum dolor, sit a</li>
  </ul>
</section> -->
