@import '../../../scss/abstracts/variables.scss';
@import '../../../scss/abstracts/mixins.scss';

.separator {
  background-color: #f0f0f0;
  color: transparent;
}

.vertical {
  @include size(.0625rem, $w-full);
}

.horizontal {
  @include size($w-full, .0625rem);
}

.separator--text {
  @include flex(row, space-between, center);
  gap: $space;
  width: $w-full;
  margin-top: 2.5rem;
  
  strong {
    font-family: 'Cooper Old Style BQ';
    font-style: italic;
    font-size: 1.25rem;
  }
}
