@import '../../../scss/abstracts/variables.scss';

.select {
  border: none;
  outline: none;
  font-weight: 600;
  background-color: transparent;
  cursor: pointer;
  color: inherit;

  &__option {
    background-color: transparent;
    border: none;
    outline: none;
    padding-left: $space;
    height: 2.0625rem;
    border-radius: 0.3125rem;
    cursor: pointer;
  }
}
