<section class="section">
  <h4 class="section__title">Last searches</h4>
  <div *ngIf="lastSearches.length; else elseBlock">
    <div class="section__content">
      <button class="section__button" (click)="handleClear()">Limpiar</button>
    </div>
    <app-word
      *ngFor="let search of lastSearches"
      [word]="search.keyowrd"
      [date]="search.date" />
  </div>
  <ng-template #elseBlock>
    <div class="empty">
      <span>
        <app-letter-animated
          *ngFor="let letter of empty.code"
          letter="{{ letter.letter }}"
          [color]="letter.color"
          animation="{{ letter.animation }}" />
      </span>
      <p>{{ empty.message }}</p>
    </div>
  </ng-template>
</section>
