@import '../../../scss/abstracts/mixins.scss';
@import '../../../scss/abstracts/variables.scss';

.section {
  width: $w-full;

  &__title {
    margin: 1.875rem 0 .625rem 0;
    font-weight: 500;
  }

  &__content {
    @include flex(row, flex-end, center);
    margin-bottom: 1.25rem;
  }
  
  &__button {
    @include resetInput;
    cursor: pointer;
    color: color(tertiary);
    font-size: .875rem;
    transition: text-decoration .3s ease;
    &:hover {
      text-decoration: underline;
    }
  }
}
.empty{
  @include flex(column, center, center);
  gap: 4rem;
  height: 60vh;
  text-align: center;
}