@import '../../../scss/abstracts/variables.scss';
@import '../../../scss/abstracts/mixins.scss';

.li {
  @include flex(row, flex-start, flex-start);
  margin: 1.25rem;
  gap: .625rem;
  font-size: $space;
  &:last-of-type {
    margin-bottom: 0;
  }

  &__content {
    @include flex(column, flex-start, flex-start);
    gap: .5rem;
    p {
      margin: 0;
    }
    &__example {
      font-weight: 300;
    }
  }

  &::before {
    content: '';
    display: inline-block;
    width: .3125rem;
    height: .3125rem;
    background-color: color(primary);
    border-radius: 100%;
    margin-top: .3125rem;
    opacity: .7;
  }
}
