@import '../../../scss/abstracts/variables.scss';
@import '../../../scss/abstracts/mixins';

.audio {
  @include flex(row, center, center);
  @include size(3.25rem, 3.125rem);
  @include resetInput;
  border-radius: $w-full;
  background-color: color(accent);
  cursor: pointer;
  transition: all .3s ease;

  &:hover {
    transform: scale(1.1);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: .5;
    position: relative;

    &:hover {
      transform: scale(1);
    }
    
    &::before {
      content: '';
      position: absolute;
      @include size(75px, .125rem);
      background-color: color(error);
      transform: rotate(45deg);
      z-index: 5;
    }
  }
}
