@import '../../../scss/abstracts/variables.scss';
@import '../../../scss/abstracts/mixins';

.audio {
  @include flex(row, center, center);
  width: 3.25rem;
  height: 3.125rem;
  border-radius: 50%;
  background-color: color(accent);
  cursor: pointer;
  border: none;
  outline: none;
  transition: all .3s ease;

  &:hover {
    transform: scale(1.1);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: .5;
    position: relative;

    &:hover {
      transform: scale(1);
    }
    
    &::before {
      content: '';
      position: absolute;
      width: 75px;
      height: .125rem;
      background-color: color(error);
      transform: rotate(45deg);
      z-index: 5;
    }
  }
}
