<section class="section">
  <div class="section__header">
    <div class="section__title">
      <app-loader size="{{ sizes.m }}" />
      <app-loader size="{{ sizes.s }}" />
    </div>
    <app-loader size="{{ sizes.rFull }}" />
  </div>
  <div class="section__content">
    <app-loader size="{{ sizes.min }}" />
    <div class="section__definitions">
      <app-loader size="{{ sizes.s }}" />
      <app-loader />
      <app-loader />
      <app-loader />
    </div>
    <app-loader size="{{ sizes.min }}" />
    <div class="section__definitions">
      <app-loader size="{{ sizes.s }}" />
      <app-loader />
      <app-loader />
      <app-loader />
    </div>
    <app-loader />
  </div>
</section>
