@import '../../../scss/abstracts/variables.scss';
@import '../../../scss/abstracts/mixins.scss';

.source {
  @include flex(row, flex-start, center);
  gap: $space;
  font-size: .75rem;

  .source__title {
    font-weight: $lighter;
    margin: 0;
  }
  .source__content {
    @include flex(row, flex-start, center);
    gap: $space;
    cursor: pointer;
    border-bottom: 0.0625rem solid;
    margin: 0;
  }
}
